accelerate==0.28.0
aiohttp==3.8.6
aiosignal==1.3.1
aiostream==0.5.2
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
Authlib==1.3.0
beautifulsoup4==4.12.3
bentoml==1.1.11
bitsandbytes==0.41.3.post2
build==0.10.0
cachetools==5.3.2
cattrs==23.1.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
circus==0.18.0
click==8.1.7
click-option-group==0.5.6
cloudpickle==3.0.0
coloredlogs==15.0.1
contextlib2==21.6.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==42.0.5
dataclasses-json==0.5.14
datasets==2.18.0
deepmerge==1.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diff-match-patch==20230430
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.8.0
dj-database-url==2.1.0
Django==4.2
django-admin-rangefilter==0.12.1
django-import-export==3.3.7
django-rest-swagger==2.2.0
djangorestframework==3.14.0
drf-yasg==1.21.7
drf-yasg2==1.19.4
einops==0.7.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastcore==1.5.29
filelock==3.13.3
filetype==1.2.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.10.0
ghapi==1.0.5
google-api-core==2.14.0
google-api-python-client==2.107.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
greenlet==3.0.1
grpcio==1.62.1
grpcio-health-checking==1.62.1
grpcio-tools==1.62.1
h11==0.14.0
httpcore==1.0.1
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.22.1
humanfriendly==10.0
idna==3.4
importlib-metadata==6.11.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.333
langsmith==0.0.63
llama-index==0.10.27
llama-index-agent-openai==0.1.7
llama-index-cli==0.1.11
llama-index-core==0.10.27
llama-index-embeddings-openai==0.1.7
llama-index-indices-managed-llama-cloud==0.1.5
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.14
llama-index-multi-modal-llms-openai==0.1.4
llama-index-program-openai==0.1.5
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.13
llama-index-readers-llama-parse==0.1.4
llama-index-vector-stores-weaviate==0.1.4
llama-parse==0.4.0
llamaindex-py-client==0.1.16
lxml==5.2.1
markdown-it-py==3.0.0
MarkupPy==1.14
MarkupSafe==2.1.3
marshmallow==3.20.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numpy==1.26.1
nvidia-ml-py==11.525.150
oauth2client==4.1.3
odfpy==1.4.1
openai==1.16.2
openapi-codec==1.3.2
openllm==0.4.44
openllm-client==0.4.44
openllm-core==0.4.44
openpyxl==3.1.2
opentelemetry-api==1.20.0
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opentelemetry-util-http==0.41b0
optimum==1.18.0
orjson==3.10.0
packaging==23.2
pandas==2.1.2
pathspec==0.12.1
pillow==10.3.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
platformdirs==4.2.0
prometheus_client==0.20.0
protobuf==4.25.0
psutil==5.9.8
psycopg==3.1.12
psycopg2-binary==2.9.9
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.22
pydantic>=1.9.0,<2
pydantic_core==2.16.3
Pygments==2.17.2
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
pyparsing==3.1.1
pypdf==4.1.0
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
regex==2023.10.3
requests==2.31.0
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
safetensors==0.4.2
schema==0.7.5
scipy==1.13.0
sentencepiece==0.2.0
simple-di==0.1.5
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.4.4
starlette==0.37.2
striprtf==0.0.26
sympy==1.12
tablib==3.5.0
tenacity==8.2.3
tiktoken==0.5.1
tokenizers==0.15.2
tomli==2.0.1
torch==2.2.2
tornado==6.4
tqdm==4.66.1
transformers==4.39.2
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.29.0
validators==0.22.0
virtualenv==20.25.1
watchfiles==0.21.0
weaviate-client==3.26.2
wrapt==1.16.0
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.4.1
yarl==1.9.2
zipp==3.18.1
